@model EstoqueViewModel


@{
    Layout = null;
}




<body>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="form-horizontal" style="width:900px">
                @* Linha 1 ---------------------------------------------------------------------------------------------------------------- *@

                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="Qtd_entrada">Qtd Entrada</label>

                        <input id="Qtd_entrada" name="Qtd_entrada" type="text" value="0,00000">
                        <label for="Lote">Lote</label>
                        @Html.TextBoxFor(x => x.Lote)

                        <label for="Validade">Validade</label>
                        @if (Model.Validade == Convert.ToDateTime("0001-01-01"))
                        {
                            <input type="date" id="Validade" value="" name="Validade" class="input-sm datepicker" />
                        }
                        else
                        {
                            <input type="date" id="Validade" value="@Model.Validade.ToString("yyyy-MM-dd")" name="Validade" class="input-sm datepicker" />

                        }
                        <label for="PosicaoI">Posição</label>
                        <input id="PosicaoI" name="Posicao" type="text" value="@Model.Posicao" onClick="formatapos()">
                        <button type="button" class="btn btn-success btn-xs" onclick="validarpos(); return false;"><i class="fa fa-check-double"></i></button>
                        <input class="btn btn-primary btn-xs" type="submit" name="Atualizar" id="AtualizarItem" value="Atualizar" disabled="disabled" />
                    </div>


                </div>


            </div>
        </div>
        @*  Insere em campo oculto  o operador que está logado*@

        @Html.HiddenFor(model => model.Qtd_ped)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.Id_produto)
        @Html.HiddenFor(model => model.Id_Head_item)
        @Html.HiddenFor(model => model.Id_cliente)
        @Html.HiddenFor(model => model.qtd_palet)
        @Html.HiddenFor(model => model.vol_palet)
        @Html.HiddenFor(model => model.Operador)
        @Html.HiddenFor(model => model.Obs)
        @Html.HiddenFor(model => model.Sku)
        @Html.HiddenFor(model => model.Nr_Ordem)
        @Html.HiddenFor(model => model.Nr_nf)
        @Html.HiddenFor(model => model.Dt_registro)
        @Html.HiddenFor(model => model.Data_ordem)
        @Html.HiddenFor(model => model.Tipo_ped)
        @* @Html.HiddenFor(model => model.Operador, new { @Value = HttpContextAccessor.HttpContext.Session.GetString("UsrLogado") })*@
    }

    <script>



    </script>


</body>



