@model List<NfeCdocaViewModel>

@{
    ViewBag.Title = "Lista Notas Fiscais Controle de doca";
    Layout = "~/Views/Shared/__LayoutWms.cshtml";
}

@section MeusStyles
{
    <link href="~/assets/css/tabela_local.css" rel="stylesheet" />

    <style>
        .pm {
            cursor: pointer;
        }

        .detail {
            background-color: #d4d0d8;
            padding: 7px;
        }

        td.details-control {
            background: url('../../assets/img/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        .excel {
            background: url('../../assets/img/excel_icon.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('../../assets/img/details_close.png') no-repeat center center;
        }
    </style>
}
<div class="col-sm-12 col-md-12">
    <div class="form-group">
        <h2 class="col-sm-11 ">Nota Fiscal</h2>
        @* <input class="col-sm-1 pm excel" style="height: 64px;width:64px;border:none" type="button" id="btnExport" />*@



        <button class="btn btn-default excel details" style="height: 64px;width:64px;border:none;"></button>
    </div>


    <div class="block-flat">


        <table id="TabelaPed" class="tabelaFormato1">
            <thead>
                <tr>
                    <th style="width: 3%"><input type="checkbox" name="checkall" class="select-checkall" id="checkall" value=""></th>
                    <th></th>
                    <th style="width: 20%">Cliente</th>
                    <th>Data Emissão</th>
                    <th style="width: 10%">Nr</th>

                    <th style="width: 18%">Destino</th>
                    <th>Valor</th>
                    <th>Peso</th>
                    <th>Volumes</th>
                    <th>Chave</th>


                </tr>
            </thead>
            <tbody>

                @foreach (var ordem in Model)
                {
                    <tr>

                        <th><input type="checkbox" id="ids" name="@ordem.Id" /></th>

                        <td>@ordem.Id</td>
                        <td>@ordem.Razao</td>
                        <td>@ordem.Data_emissao</td>
                        <td>@ordem.Nf_wms</td>

                        <td>@ordem.Nome_destino</td>
                        <td>@ordem.Valor_Total</td>
                        <td>@ordem.Peso_brt</td>
                        <td>@ordem.Nr_volumes</td>
                        <td>@ordem.Chave</td>



                    </tr>

                }

            </tbody>
        </table>




    </div>

    <div class="form-group">
        <div class="col-sm-5">
            <div>
                <div><input type="button" class="btn btn-primary" name="Submit242" value="Gerar listas separadas" onClick="GetSelected('2')" /></div>

            </div>

        </div>
        <div class="col-sm-6">
            <div>
                <div><input type="button" class="btn btn-success" name="Submit242" value="Gerar lista bulk" onClick="GetSelected('1')" /></div>

            </div>

        </div>
    </div>

</div>
@section MeusScripts{
    <script type="text/javascript">



                    $(document).ready(function () {

                        var tabela = $('#TabelaPed').DataTable({

                            paging: true

                        });


                             $(function () {
                                            $(".details").click(function () {

                                                $("#modal").load("ExportarExcel_Ordem_Carga", function () {
                                                    $("#modal").modal(); })
                                            });
                                        });
                        $("#checkall").click(function () {
                            var cells = tabela.column(0).nodes(), // Cells from 1st column
                                state = this.checked;

                            for (var i = 0; i < cells.length; i += 1) {
                                cells[i].querySelector("input[type='checkbox']").checked = state;
                            }
                        });
                    });


        var pedidos = "";
        var contar = 0;

        function GetSelected(t) {
        //Reference the Table.
        var grid = document.getElementById("TabelaPed");

          

        //Reference the CheckBoxes in Table.
        var checkBoxes = grid.getElementsByTagName("INPUT");
        
        //Loop through the CheckBoxes.
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked) {
                if(contar>0){
                pedidos += ",";
                }
                var row = checkBoxes[i].parentNode.parentNode;
                pedidos += row.cells[1].innerHTML;
               contar++;
            }
        }
        if (pedidos == ""){

           alert('Não há checkBoxes selecionados');
		}else{

                    var url = '@Url.Action("RedirecionaCrossDock", "Cdoca")?ID='+pedidos+'&ID1='+t;
                    window.location.href = url;
		}
    }


    </script>
}
